.container {
  display: flex;
  height: calc(100% - 9vh);
  background-color: rgb(240, 238, 238);
}

.sidebar {
  margin: 1%;
  border: 1px solid #555;
  background: rgb(247, 246, 246);
  flex: 1 0 20%; /* Flex-grow: 1, flex-shrink: 0, flex-basis: 20% */
  border-radius: 5px;
}

.main-content {
  margin: 1%;
  width: 100%;
  flex: 4 1 80%; /* Flex-grow: 4, flex-shrink: 1, flex-basis: 80% */
  padding: 1%;
  overflow-y: auto; /* Add vertical scroll if content overflows */
  border: 1px solid #555;
  background: rgb(247, 246, 246);
  border-radius: 5px;
}
